<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
      /* Styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
